@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');

:root {
    --clr-blue-800: hsl(217, 19%, 35%);
    --clr-blue-600: hsl(214, 17%, 51%);
    --clr-blue-400: hsl(212, 23%, 69%);
    --clr-blue-200: hsl(210, 46%, 95%);

    --fs-100: 1.3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html,
body {
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* general */
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--fs-100);
    display: grid;
    place-content: center;
    background-color: var(--clr-blue-200);
}

main,
section {
    height: 100%;
    width: 100%;
}

section {
    display: grid;
    place-content: center;
}

/* utilities */



/* components */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 85%;
    border-radius: 1rem;
    background-color: #fff;
}

.card>img {
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-info {
    padding: 2rem 3rem;
}

.card-info h1 {
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--clr-blue-800);
    font-weight: 600;
}

.card-info p {
    padding-top: 1rem;
    color: var(--clr-blue-600);
}

.card-social {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-author {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.card-social img {
    object-fit: cover;
    border-radius: 50%;
    width: 4rem;
}

.class-name {
    color: var(--clr-blue-800);
    font-weight: 600;
}

.card-date {
    color: var(--clr-blue-400);
}

.btn-cta {
    cursor: pointer;
    margin-left: auto;
    padding: 7px;
    background-color: var(--clr-blue-200);
    border-radius: 50%;
    border: 1px solid var(--clr-blue-200);
}

.btn-cta img {
    width: 1.5rem;
    object-fit: contain;
    margin-bottom: 2px;
    margin-left: 2px;
}

.share {
    display: flex;
    visibility: hidden;
    width: 190px;
    background: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 65%;
    top: 75%;
    letter-spacing: 3px;
}

.share p {
    padding: 3px;
    margin-top: 0.6rem;
    margin-left: 10px;
}

.share img {
    width: 3rem;
    padding: 2px;
    margin-top: 5px;
    margin-left: 2px;
}

.flex {
    display: flex;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    transition: all .3s ease;
}

.attribution a:hover {
    color: hsl(24, 81%, 56%);
}

@media (min-width: 30em) {
    .card {
        width: 40rem;
    }
}

@media (min-width: 60em) {
    .card {
        justify-content: space-evenly;
        height: 25rem;
        width: 65rem;
        flex-direction: row;
    }

    .card>img {
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 25rem;
        height: 25rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0rem;
    }
}